<app-menubar></app-menubar>
<!-- <p> Viw Userworks!</p> -->

<div>
    <a [routerLink]="['/addmod']" class="btn btn-primary outline btnposnleft">New Admin/Mod</a>
    <a [routerLink]="['/updatemod']" class="btn btn-primary outline btnposnright">Update Admin/Mod</a>
</div>

<table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Email Id</th>
        <th>User Name</th>
        <th>Role</th>
        <th>Org-Id</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let row of users">
        <td>{{row.id}}</td>
        <td>{{row.email}}</td>
        <td>{{row.username}}</td>
        <td>{{row.role}}</td>
        <td>{{row.password}}</td>
      </tr>
    </tbody>
  </table>