<app-menubar></app-menubar>
<div class="container">
    <div class="cards-list">
  
        <a [routerLink]="['/vieworg']">
        <div class="card 1">
          <div class="card_image"> <img src="https://img.pngio.com/home-icon-png-transparent-94-images-in-collection-page-1-home-icon-png-900_900.jpg" /> </div>
          <div class="card_title title-white">
            <!-- <p>Card Title</p> -->
          </div>
        </div>
        </a>    
        
          <div class="card 2">
          <div class="card_image">
            <img src="https://img.pngio.com/organization-chart-icon-png-7-png-image-png-org-chart-512_512.png" />
            </div>
          <div class="card_title title-white">
            <!-- <p>Card Title</p> -->
          </div>
        </div>
        
        <a [routerLink]="['/viewuser']">
          <div class="card 3">
            <div class="card_image"> <img src="https://img.pngio.com/home-icon-png-transparent-94-images-in-collection-page-1-home-icon-png-900_900.jpg" /> </div>
            <div class="card_title title-white">
              <!-- <p>Card Title</p> -->
            </div>
          </div>
          </a>  
          
          <div class="card 4">
          <div class="card_image">
            <img src="https://img.pngio.com/home-icon-png-transparent-94-images-in-collection-page-1-home-icon-png-900_900.jpg" />
            </div>
          <div class="card_title title-black">
            <!-- <p>Card Title</p> -->
          </div>
          </div>

          <div class="card 4">
            <div class="card_image">
              <img src="https://img.pngio.com/home-icon-png-transparent-94-images-in-collection-page-1-home-icon-png-900_900.jpg" />
              </div>
            <div class="card_title title-black">
              <!-- <p>Card Title</p> -->
            </div>
            </div>

            <div class="card 4">
                <div class="card_image">
                  <img src="https://img.pngio.com/home-icon-png-transparent-94-images-in-collection-page-1-home-icon-png-900_900.jpg" />
                  </div>
                <div class="card_title title-black">
                  <!-- <p>Card Title</p> -->
                </div>
                </div>    
        
        </div>
</div>