<div>
    <app-menubar></app-menubar>
    <div>
        <div class="container">
            <h3>Create New Admin/Moderator</h3>
            <div [hidden]="submitted" style="width: 400px;">
                <form (ngSubmit)="onSubmit()">

                    <div class="form-group">
                        <label for="name">Moderator Email Id*</label>
                        <input type="text" class="form-control" id="email" required [(ngModel)]="User.email"
                            name="email">
                    </div>

                    <div class="form-group">
                        <label for="name">UserId/Login Id</label>
                        <input type="text" class="form-control" id="username" required [(ngModel)]="User.username"
                            name="username">
                    </div>

                    <div class="form-group">
                        <label for="name">password</label>
                        <input type="text" class="form-control" id="password" required [(ngModel)]="User.password"
                            name="password">
                    </div>

                    <!-- <div class="form-group">
                        <span class="custom-dropdown big">
                            <select class="form-control" id="role" required [(ngModel)]="User.role">
                                <option value="ADMIN">Admin</option>
                                <option value="MODERATOR">Moderator</option>
                                <option value="USER">User</option>
                            </select>
                        </span>
                    </div> -->

                    <!-- <div class="form-group">
                        <label for="name">Role</label>
                        <input type="text" class="form-control" id="role" required [(ngModel)]="User.role" name="role">
                    </div> -->

                    <!-- <div class="form-group">
                        <label for="name">Admin</label>
                        <input type="checkbox" class="form-control" id="role" value="ADMIN" required [(ngModel)]="User.role" name="role">
                        <label for="name">Moderator</label>
                        <input type="checkbox" class="form-control" id="role" value="MODERATOR" required [(ngModel)]="User.role" name="role">
                        <label for="name">USER</label>
                        <input type="checkbox" class="form-control" id="role" value="USER" required [(ngModel)]="User.role" name="role">
                    </div> -->



                    <!-- <div class="form-group">
              <label for="name">contact</label>
              <input type="text" class="form-control" id="contactPersonName" required
                [(ngModel)]="organization.contactPersonName" name="contactPersonName">
            </div>
  
            <div class="form-group">
              <label for="name">EmailId</label>
              <input type="text" class="form-control" id="contactEmailId" required
                [(ngModel)]="organization.contactEmailId" name="contactEmailId">
            </div>
  
            <div class="form-group">
              <label for="name">organizationcontact</label>
              <input type="text" class="form-control" id="organizationcontact" required
                [(ngModel)]="organization.organizationcontact" name="organizationcontact">
            </div>
   -->
                    <button type="submit" class="btn btn-success">Submit</button>
                </form>
            </div>
        </div>
        <div [hidden]="!submitted">
            <h4>You submitted successfully!</h4>
            <!-- <button class="btn btn-success" (click)="newEmployee()">Add</button> -->
        </div>
    </div>
</div>