<app-menubar></app-menubar>

<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Emp Id</th>
      <th>First Name</th>
      <th>Email Id</th>
      <th>Gender</th>
      <th>Father Name</th>
      <th>Job Title</th>
      <th>Type</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor = "let row of employees">
      <td>{{row.id}}</td>
      <td>{{row.empId}}</td>
      <td>{{row.empFirstName}}</td>
      <td>{{row.empEmailId}}</td>
      <td>{{row.empGender}}</td>
      <td>{{row.fatherName}}</td>
      <td>{{row.job_Title}}</td>
      <td>{{row.empType}}</td>
    </tr>
  </tbody>
</table>