<!-- <th *ngFor = "let column of displayedColumns">
  {{column}}
</th> -->
<!-- 
<tr *ngFor = "let row of employees">
        {{row.id}},
        {{row.empId}}
        {{row.empFirstName}}
</tr> -->


<table datatable class="row-border hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>First name</th>
      <th>Last name</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor = "let row of employees">
      <td>{{row.id}}</td>
      <td>{{row.empId}}</td>
      <td>{{row.empFirstName}}</td>
    </tr>
  </tbody>
</table>


<!-- 
<ul>
  <li *ngFor="let datasource of dataSource">
      <p>{{datasource.empid}} / ${{datasource.empFirstName}}</p>
      <p> {{datasource.empEmailId}} </p>
  </li>
  </ul>


<table datatable class="row-border hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>First name</th>
        <th>Last name</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>12</td>
        <td>Zelda</td>
        <td>Link</td>
      </tr>
    </tbody>
  </table>


  <ul>
    <li *ngFor="let product of dataSource">
        <h2>{{product.empid}} / ${{product.empFirstName}}</h2>
        <p> {{product.empEmailId}} </p>
    </li>
    </ul> -->